.books_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.books_mainDiv img {
    width: 100%;
}

.books_mainDiv hr {
    width: 230px;
}

.books_mainDiv h5,
.books_mainDiv p {
    margin-left: 20px;
}

.book_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.book_head i {
    float: right;
}

.book_text span {
    color: aquamarine;
}
